{% extends 'shop/layout.html' %} {% load static %} {% block content %}
<div id="pedidos">
<h1>Pedidos</h1>
{% for order in orders %}
<div id="pedido">
    <span><b>Fecha:</b> {{order.book_date}}</span>
    <br>
    <span><b>Confirmado:</b> {{order.confirmed}}</span> 
    <br>
    {% if order.comment != "" %}
    <span><b>Comentario adicional:</b> {{order.comment}}</span>
    <br>
    {% endif %}
    <span><b>Servicios:</b> 
        {% for i in orderItems %}
            {% if i.order == order %}
                {{i.product.name}} x{{i.quantity}}<br>
            {% endif %}
        {% endfor %}
    </span>
    <a id="enlace" href="cancel_order/{{order.id}}">Cancelar pedido</a>
</div>
{% endfor %} 
</div>
{% endblock %}
