{% extends 'shop/layout.html' %} {% load static %} {% block content %}
<div id="pedidos">
<h1>Pedidos</h1>
{% for order in orders %}
<div id="pedido">
    <span>Servicio: {{order.product.name}}</span>
    <br>
    <span>Fecha: {{order.order.book_date}}</span>
    <br>
    <span>Confirmado: {{order.order.confirmed}}</span> 
    <br>
    {% if order.order.comment != "" %}
    <span>Comentario adicional: {{order.order.comment}}</span>
    <br>
    {% endif %}
    <a id="enlace" href="cancel_order/{{order.order.id}}">Cancelar pedido</a>
</div>
{% endfor %} 
</div>
{% endblock %}
