{% load static %}

<!DOCTYPE html>
<html lang="esp">
  <head>
    <meta charset="UTF-8">
    <title>Corto & Cambio</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}/">

</head>

<body>
  <div id="container">
  <header>
      <a href="{% url 'shop:inicio' %}">
        <image src="{% static 'CortoYCambio.png' %}" alt="logo" id="logo">
      </a>
      <h1 id="titulo">Corto & Cambio</h1>  
  </header>
    <nav>
      <ul>
        <div id="botones_funcion"> 
          <li><a id="textoMenu" href="{% url 'shop:product_list' %}">Catálogo</a></li>
          <li><a id="textoMenu" href="{% url 'shop:sobre_nosotros' %}">Sobre Nosotros</a></li>
          <li><a id="textoMenu" href="{% url 'shop:atencion_cliente' %}">Atención al cliente</a></li>
          <li><a id="textoMenu" href="{% url 'cart:cart_detail' %}">Carrito</a></li>
          <li><a id="textoMenu" href="{% url 'orders:my_orders' %}">Mis pedidos</a></li>
        </div>
        <div id="botones_sesion">
            {% if request.user.is_authenticated %}
              <li>Hola, {{ request.user.first_name }}</li>
              <li><a href="{% url "logout" %}">Logout</a></li>
            {% else %}
              <li><a href="{% url 'register' %}">Registrarse</a></li>
              <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
            {% endif %}
        </div>
          </ul>
    </nav>
      <div id="content">
        {% block content %}
        {% endblock content %}
      </div>
    </body>
    <footer>
        <ul>
          <li>&copy; Corto & Cambio 2022 - 2023</li>
          <li id="terminos"><a target="blank" href="{% static 'terminos_de_servicio.pdf' %}">Términos de servicio</a></li>
          <li id="terminos"><a target="blank" href="{% static 'aviso_de_privacidad.pdf' %}">Aviso de privacidad</a></li>
        </ul>
    </footer>
  </div>
</html>
