{% extends 'shop/layout.html' %} {% load static %} {% block title %} Buscador de
servicios {% endblock %} {% block content %}
<h1>{% if category %}{{ category.name }}{% else %}Servicios {% endif %}</h1>
<form id="buscador" action="{% url 'shop:buscador' %}">
  {% csrf_token %} {{ form }}
  <input type="submit" />
</form>
<h1 id="titulo_categoria">
  {% if category %}{{ category.name }}{% else %}Servicios{% endif %}
</h1>
<div id="product_list">
  {% for product in products %} {% if p in product.name or p == "" %}
  <div id="item">
    <h2>{{product.name}}</h2>
    <a href="{{ product.get_absolute_url }}">
      <img alt="imagen-producto" id="img_producto" src="{% if product.image %}{{ product.image.url}}
      {%else %}{% static "CortoYCambio.png" %}{% endif %}">
    </a>
    <br />
    <a id="enlaces_catalogo" href="{{ product.get_absolute_url }}"
      >{{ product.name }}</a
    >
    <br />
    ${{ product.price }}
  </div>
  {% endif %} {% endfor %}
</div>
{% endblock %}
