{% extends 'shop/layout.html' %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
    <div id="sidebar">
        <h1>Categorías</h1>
        <ul>
            <li {% if not category %}class="selected"{% endif %}>
                <a id="categoria" href="{% url 'shop:product_list' %}">Todos</a>
            </li>
            {% for c in categories %}
                <li {% if category.slug == c.slug %}class="selected" {% endif %}>
                    <a id="categoria" href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    
    <a id="buscador" href="{% url 'shop:buscador' %}">Buscador de servicios</a>

    <h2 id="titulo_categoria">{% if category %}{{ category.name }}{% else %}Todos los servicios{% endif %}</h2>
    <div id="product_list">
        {% for product in products %}
            <div id="item">
                <h2>{{product.name}}</h2>
                <a href="{{ product.get_absolute_url }}">
                    <img alt="imagen-producto" id="img_producto" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "CortoYCambio.png" %}{% endif %}">
                </a>
                <br>
                <a id="enlaces_catalogo" href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                <br>
                ${{ product.price }}
            </div>
        {% endfor %}
        </div>
{% endblock %}