{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Corto & Cambio</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

</head>

<body>
  <div id="container">
  <header>
        <a href="{% url 'inicio' %}">
          <image src="{% static 'CortoYCambio.png' %}" alt="logo" id="logo">
          </a>
        <h1 id="titulo">Corto & Cambio</h1>  
            </header>
      <nav>
          <ul>
            <div id="botones_funcion"> 
            <li><a name="textoMenu" href="{% url 'catalogo' %}">Catalogo</a></li>
            <li><a name="textoMenu" href="{% url 'sobre_nosotros' %}">Sobre Nosotros</a></>
              <li><a name="textoMenu" href="{% url 'atencion_cliente' %}">Atencion al cliente</a></li>
              </div>
              <div id="botones_sesion">
                <li><a href="{% url 'register' %}">Registrarse</a></li>
              <li><a href="{% url 'login' %}">Iniciar sesion</a></li>
            </div>
            </ul>
      </nav>
      <section id="content">
    {% block body %}

    {% endblock %}
  </section>
</body>
<footer>
  &copy; Corto & Cambio 2022 - 2023
</footer>
</div>
</html>
